body{
   background-image: url("/asset/coat.png");
   background-position:center;
   background-attachment: fixed;
   background-repeat:no-repeat ;
}
   
*.h1{
    background-color: blue;
}
 .p{
    background-color:lightblue;
border-radius: 100px;
 } 

 *{
    margin: 8px;
 }